<!DOCTYPE html>

<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Login</title>
    <style>
       
        h1 {text-align: center;
            color:Coral}
        h3 {text-align: center;
            color:Coral}
        p {text-align: center;
        color:Red;
        }
        g {text-align: center;
        color:Green}
        l {text-align: center;
        color:Coral}
        div {text-align: center;
        color:Blue;};
        
    </style>
     
</head>
  
<body >

  
<font color="Orange" style="center" > <h1>Student Login</h1></font>
<font color="Orange" style="center" > <h3 >--Marathi Coder--</h3></font>
<div>
<form method="POST" action="/Login">

<label >Name</label><br>  
<input type="text" name="Name_of_Student" placeholder="Enter Name of Student" required><br>

<br> <label >Address</label><br>  
<input type="text" name="address" placeholder="Enter address" required><br>  

<br> <label > Mobile Number </label><br>  
<input type="text" name="mobile_no" placeholder="Mobile_Number" required><br>  

<br> <label > E-Mail Address</label><br>  
<input type="text" name="e_mail" placeholder="e_mail" required><br> 

<br><input type="Submit"> </br>
<g>{{Prediction1}}</g>
<p>{{Prediction2}}</p>

</div>

</body>
</html>